html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/cartoon-styles-templates.jpg'); /* Background from pptbackgroundstemplates */
    background-size:cover;
    position: relative;
    font-family: 'Nunito', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    margin-top: 15%;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #a39258 0%, #bf6c5d 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #58848c;
    cursor: default;
    pointer-events: none;
}

.deck .card.show {
    font-size: 33px;
}



.deck .card.match {
    cursor: default;
    background: #588c72;
    font-size: 33px;
}
.deck .card.nomatch {
    background: rgb(187, 131, 131);
    font-size: 33px;
  }

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: center;
    width: 345px;
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: 600;

}

.score-panel .stars {
    color: #bf6c5d;
    margin: 0;
    padding-right: 0.5em;
    padding-left: 0.5em;
    display: inline-block;
    margin: 0 1.5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
    background: #588c72;
}
.score-panel .timer {
    display: inline-block;
}

/*
 * Styles for the Message Panel when game is over
 */
.message {
 
    width: 660px;
    min-height: 680px;
    margin-top: 40px;
    border-radius: 5%;
    position: absolute;
    z-index: 100;
    background: #588c72;
    color: #ffffff;
    opacity: 0.9;
    flex-wrap: wrap;
}

.message .modal {
    text-align: center
}

.message .newGame {
    width: 150px;
    height: 48px;
    margin-top: 20%;
    margin-left: 40%; 
    text-align: center;
    border-radius: 10%;
    border:none;
    background: #2e3d49;
    color: #ffffff;
    font-size: 1em;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}